services:
  master:
    build: .
    container_name: master
    ports:
      - "5000:5000"
    environment:
      - SECONDARY_URLS=http://secondary-err:5001,http://secondary-2:5001
    command: uv run src/master.py
    depends_on:
      - secondary-err
      - secondary-2

  secondary-err:
    build: .
    container_name: secondary-err
    ports:
      - "5001:5001"
    environment:
      - ERROR_RATE=0.8
    command: uv run src/secondary.py

  secondary-2:
    build: .
    container_name: secondary-2
    ports:
      - "5002:5001"
    command: uv run src/secondary.py
