services:
  master:
    build: .
    container_name: master
    ports:
      - "5000:5000"
    environment:
      - SECONDARY_URLS=http://secondary-1:5001,http://secondary-2:5001
    command: uv run src/master.py
    depends_on:
      - secondary-1
      - secondary-2

  secondary-1:
    build: .
    container_name: secondary-1
    ports:
      - "5001:5001"
    environment:
      - MASTER_URL=http://master:5000
    command: uv run src/secondary.py

  secondary-2:
    build: .
    container_name: secondary-2
    ports:
      - "5002:5001"
    environment:
      - MASTER_URL=http://master:5000
    command: uv run src/secondary.py
