services:
  master:
    build: .
    container_name: master
    ports:
      - "5000:5000"
    environment:
      - SECONDARY_URLS=http://secondary:5001,http://secondary-delayed:5001
    command: uv run src/master.py
    depends_on:
      - secondary-delayed
      - secondary

  secondary-delayed:
    build: .
    container_name: secondary-delayed
    ports:
      - "5002:5001"
    environment:
      - DELAY_SECONDS=5
    command: uv run src/secondary.py

  secondary:
    build: .
    container_name: secondary
    ports:
      - "5001:5001"
    environment:
      - DELAY_SECONDS=0
    command: uv run src/secondary.py
