services:
  master:
    build: .
    container_name: master
    ports:
      - "5000:5000"
    environment:
      - SECONDARY_URLS=http://secondary-5s:5001,http://secondary-10s:5001
    command: uv run src/master.py
    depends_on:
      - secondary-5s
      - secondary-10s

  secondary-5s:
    build: .
    container_name: secondary-5s
    environment:
      - DELAY_SECONDS=5
    command: uv run src/secondary.py

  secondary-10s:
    build: .
    container_name: secondary-10s
    environment:
      - DELAY_SECONDS=10
    command: uv run src/secondary.py
